apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: efreiabc/backend:1.0
          command: ["npm", "run", "start"]
          ports:
            - containerPort: 3000
          envFrom:
            - configMapRef:
                name: backend--env

